/* #region Стили шапки */
.header {
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 119px;
    align-items: center;
}

.header__logo {
    max-width: 130px;
}

.logo-image {
    max-width: 100%;
}

.header__menu {
    margin-left: 100px;
}

.menu__list {
    display: flex;
}

.menu__item:not(:last-child) {
    margin-right: 21px;
}

.menu__link {
    color: var(--text-body);
    font-size: 14px;
    font-weight: 300;
    line-height: calc(24 / 14 * 100%);
}

.header__like {
    background-color: var(--bg-body);
    margin-left: auto;
}

.like-icon {
    background-color: transparent !important;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.user-profile__container {
    width: auto;
    min-width: 150px;
    height: 64px;
    border-radius: 6px 20px;
    padding: 10px 0px 10px 10px;
    display: flex;
    align-items: center;
    background-color: var(--bg-white);
    position: relative;
}

.user-profile__content {
    display: flex;
    align-items: center;
    gap: 11px;
}

.user-profile__avatar {
    width: 43px;
    height: 43px;
    border-radius: 50%;
}

.user-profile__user-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-bottom: 1px;
}

.user-profile__username {
    color: var(--accent-2);
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
}

.user-profile__level {
    color: var(--border-outline-dark);
    font-family: "Axiforma", sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    white-space: nowrap;
}

.header__logout {
    color: var(--accent-2);
    margin-left: 32px;
}

/* #endregion */
