@model LoginViewModel

@{
    ViewData["Title"] = "Вход";
}

<div class="content__row">
    <!-- Профиль пользователя -->
    <div class="profile">
        <h3 class="profile__title">Вход</h3>

        <form method="post" class="profile__form">
            <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />

            <div class="profile__field">
                <label asp-for="UserName" class="profile__label">Email</label><br />
                <input type="email" asp-for="UserName" class="profile__input" required />
                <span asp-validation-for="UserName" />
            </div>

            <div class="profile__field">
                <label asp-for="Password" class="profile__label">Пароль</label><br />
                <input type="password" asp-for="Password" class="profile__input" required />
                <span asp-validation-for="Password" />
            </div>

            <div class="profile__field">
                <label asp-for="RememberMe" class="profile__label">Запомнить меня <input type="checkbox" asp-for="RememberMe" name="RememberMe" class="form-check-input" value="true" checked /></label>
            </div>

            <div class="profile__field">
                <a asp-area="" asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Зарегистрировать новый аккаунт</a>
            </div>

            <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>

            <button type="submit" asp-controller="Account" asp-action="Login" class="profile__button">Войти</button>
        </form>
    </div>
</div>
