@model RegisterViewModel

<form method="post">
    <div>
        <h3>Регистрация</h3>
    </div>

    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>

    <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />

    <div class="row">
        <div class="col-6">
            <label asp-for="UserName"></label><br />
            <input type="text" asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" />
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label asp-for="Password"></label><br />
            <input type="text" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" />
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label asp-for="ConfirmPassword"></label><br />
            <input type="text" asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" />
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <button type="submit" asp-controller="Account" asp-action="Register" class="btn btn-primary">Зарегистрироваться</button>
        </div>
    </div>
</form>