@model RegisterViewModel

@{
    ViewData["Title"] = "Регистрация";
}

<div class="content__row">
    <!-- Профиль пользователя -->
    <div class="profile">
        <h3 class="profile__title">Регистрация</h3>

        <form method="post" class="profile__form">
            <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />

            <div class="profile__field">
                <label asp-for="Name" class="profile__label">Имя</label><br />
                <input type="text" asp-for="Name" class="profile__input" required />
                <span asp-validation-for="Name" />
            </div>

            <div class="profile__field">
                <label asp-for="Surname" class="profile__label">Фамилия</label><br />
                <input type="text" asp-for="Surname" class="profile__input" required />
                <span asp-validation-for="Surname" />
            </div>

            <div class="profile__field">
                <label asp-for="UserName" class="profile__label">Email</label><br />
                <input type="email" asp-for="UserName" class="profile__input" required />
                <span asp-validation-for="UserName" />
            </div>

            <div class="profile__field">
                <label asp-for="Password" class="profile__label">Пароль</label><br />
                <input type="password" asp-for="Password" class="profile__input" required />
                <span asp-validation-for="Password" />
            </div>

            <div class="profile__field">
                <label asp-for="ConfirmPassword" class="profile__label">Подтвердите пароль</label><br />
                <input type="password" asp-for="ConfirmPassword" class="profile__input" required />
                <span asp-validation-for="ConfirmPassword" />
            </div>

            <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>

            <button type="submit" asp-controller="Account" asp-action="Register" class="profile__button">Зарегистрироваться</button>
        </form>
    </div>
</div>