@model FooterStatisticsViewModel

<div class="footer__stats">
    <div class="footer__stat-item">
        <span class="footer__stat-number">@Model.GamesCount</span>
        <span class="footer__stat-label">игр</span>
    </div>
    <div class="footer__stat-divider"></div>
    <div class="footer__stat-item">
        <span class="footer__stat-number">@Model.UsersCount</span>
        <span class="footer__stat-label">пользователей</span>
    </div>
</div>