<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LingvoGameOs</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LingvoGameOs.styles.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
</head>
<body>
    @if (ViewContext.RouteData.Values["Action"]?.ToString() == "Start")
    {
        @await Html.PartialAsync("GamePlayHeader", new ViewDataDictionary(ViewData))
    }
    else
    {
        @await Html.PartialAsync("Header")
    }
    <div class="wrapper">
        <main role="main" class="content">
            <div class="content__container _container">
                @RenderBody()
            </div>
        </main>
    </div>

    @await Html.PartialAsync("Footer", false)
    @* Удаляем ссылку на jQuery и Bootstrap JS, если они больше не нужны *@
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @Html.RenderUnobtrusiveAjaxScript()
    <script asp-src-include="~/js/**/*.js" type="module"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>