<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Рудзынг</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true">
    <link rel="stylesheet" href="~/LingvoGameOs.styles.css" asp-append-version="true" /> <!--Что за стили? Нужны ли?-->
    <link rel="icon" href="~/img/logo/logo_2.1.svg" type="image/x-icon" />
    @await RenderSectionAsync("Styles", required: false)
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
</head>
<body>
    @if (ViewContext.RouteData.Values["Action"]?.ToString() == "Start")
    {
        @await Html.PartialAsync("GamePlayHeader", new ViewDataDictionary(ViewData))
    }
    else
    {
        @await Html.PartialAsync("Header", new ViewDataDictionary(ViewData))
    }
    <div class="wrapper">
        <main role="main" class="content">
            <div class="content__container _container">
                @RenderBody()
            </div>
        </main>
    </div>

    @await Html.PartialAsync("Footer", false)
    @* Удаляем ссылку на jQuery и Bootstrap JS, если они больше не нужны *@
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @Html.RenderUnobtrusiveAjaxScript()
    <script src="~/js/activityChart.js" asp-append-version="true" type="module"></script>
    <script src="~/js/carousel.js" asp-append-version="true" type="module"></script>
    <script src="~/js/categories-page.js" asp-append-version="true" type="module"></script>
    <script src="~/js/category-games.js" asp-append-version="true" type="module"></script>
    <script src="~/js/components.js" asp-append-version="true" type="module"></script>
    <script src="~/js/config.js" asp-append-version="true" type="module"></script>
    <script src="~/js/dom.js" asp-append-version="true" type="module"></script>
    <script src="~/js/dropdown.js" asp-append-version="true" type="module"></script>
    <script src="~/js/favorites.js" asp-append-version="true" type="module"></script>
    <script src="~/js/game.js" asp-append-version="true" type="module"></script>
    <script src="~/js/gameBlocks.js" asp-append-version="true" type="module"></script>
    <script src="~/js/game-play.js" asp-append-version="true" type="module"></script>
    <script src="~/js/games-page-filter.js" asp-append-version="true" type="module"></script>
    <script src="~/js/homepage.js" asp-append-version="true" type="module"></script>
    <script src="~/js/leaderboard.js" asp-append-version="true" type="module"></script>
    <script src="~/js/loadComponents.js" asp-append-version="true" type="module"></script>
    <script src="~/js/mobile-menu.js" asp-append-version="true" type="module"></script>
    <script src="~/js/notifications.js" asp-append-version="true" type="module"></script>
    <script src="~/js/profile.js" asp-append-version="true" type="module"></script>
    <script src="~/js/profileModal.js" asp-append-version="true" type="module"></script>
    <script src="~/js/registration.js" asp-append-version="true" type="module"></script>
    <script src="~/js/reviews.js" asp-append-version="true" type="module"></script>
    <script src="~/js/script.js" asp-append-version="true" type="module"></script>
    <script src="~/js/slider.js" asp-append-version="true" type="module"></script>
    <script src="~/js/utils.js" asp-append-version="true" type="module"></script>
    @* <script asp-src-include="~/js/**/*.js" type="module"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>