<footer class="border-top footer text-muted ">
    <div class="footer__container _container">
        <div class="footer__info">
            <div class="footer__text-block">
                <a asp-controller="Home" asp-action="Index"><img src="/img/logo/Logo2.png" class="footer__logo" /></a>
                <p class="footer__description">Ацы хъæзтытæ конд сты стыр уарзондзинадæй æмæ стыр бærцæй ирон бæгæныйæ</p>
            </div>
            <div class="footer__links links">
                <div class="footer__column">
                    <p class="footer__title"><a asp-controller="Home" asp-action="Index">Игры</a></p>
                    <ul class="footer__list">
                        <li class="footer__item"><a asp-controller="Home" asp-action="Index">Категории</a></li>
                        <li class="footer__item"><a asp-controller="Home" asp-action="Index">Новинки</a></li>
                        <li class="footer__item"><a asp-controller="Home" asp-action="Index">Популярные</a></li>
                    </ul>
                </div>
                <div class="footer__column">
                    <p class="footer__title"><a asp-controller="Home" asp-action="News">Новости</a></p>
                    <ul class="footer__list">
                        <li class="footer__item"><a asp-controller="Home" asp-action="News">Анонсы</a></li>
                        <li class="footer__item"><a asp-controller="Home" asp-action="News">Премьеры</a></li>
                        <li class="footer__item"><a asp-controller="Home" asp-action="News">Релизы</a></li>
                    </ul>
                </div>
                <div class="footer__column">
                    <p class="footer__title"><a asp-controller="Home" asp-action="Index">Вопросы и отзывы</a></p>
                    <ul class="footer__list">
                        <li class="footer__item"><a asp-controller="Home" asp-action="Index">Часто задаваемые вопросы</a></li>
                        <li class="footer__item"><a asp-controller="Home" asp-action="Index">Отзывы</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__social">
            <a href="#" class="footer__social-link footer__social--facebook"></a>
            <a href="#" class="footer__social-link footer__social--twitter"></a>
            <a href="#" class="footer__social-link footer__social--instagram"></a>
        </div>
    </div>
</footer>