@using System.Security.Claims
<header class="header">
    <div class="header__container _container">
        <a class="header__logo" asp-controller="Home" asp-action="Index">
            <img src="~/img/Logo.png" alt="Логотип" class="logo-image" />
        </a>
        <nav class="header__menu menu">
            <ul class="menu__list">
                <li class="menu__item"><a class="menu__link" asp-controller="Home" asp-action="Index">Главная</a></li>
                <li class="menu__item"><a class="menu__link" asp-controller="Home" asp-action="Games">Все игры</a></li>
                <li class="menu__item"><a class="menu__link" asp-controller="Home" asp-action="News">Новости</a></li>
            </ul>
        </nav>
        <button class="header__like" aria-label="Избранное">
            <img src="~/icon/like.svg" alt="Избранное" class="like-icon"/>
        </button>
        @if (User.Identity?.IsAuthenticated == true)
        {
            var userIdClaim = User.FindFirst(ClaimTypes.NameIdentifier);
            var userId = userIdClaim?.Value;
            var username = User.Identity?.Name ?? "Пользователь";
            <div class="header__user-profile user-profile">
                <div class="user-profile__container">
                    <div class="user-profile__content">
                        <div class="user-profile__avatar-wrapper">
                            @if (!string.IsNullOrEmpty(ViewData["UserImageURL"] as string))
                            {
                                <img src="@ViewData["UserImageURL"]" alt="Аватар пользователя" class="user-profile__avatar">
                            }
                            else
                            {
                                <img src="/img/avatar100.png" alt="Аватар пользователя" class="user-profile__avatar">
                            }
                        </div>
                        <div class="user-profile__user-info">
                            <span class="user-profile__username">@(ViewData["Username"] ?? "Пользователь")</span>
                            <span class="user-profile__level">1 уровень</span>
                        </div>
                        <div class="user-profile__dropdown">
                            <div class="user-profile__toggle">
                                <img src="~/icon/more.svg" alt="Открыть меню" class="user-profile__more" />
                            </div>
                            <div class="user-profile__menu">
                                <div class="user-profile__menu-item" data-target="profile"><a class="menu__link" asp-controller="Profile" asp-action="Index" asp-route-userId="@userId">Профиль</a></div>
                                <div class="user-profile__menu-item" data-target="game-stats"><a class="menu__link" asp-controller="Profile" asp-action="Index" asp-route-userId="@userId">Рейтинг в играх</a></div>
                                <div class="user-profile__menu-item"><a class="menu__link" asp-controller="Home" asp-action="Index">Рекомендуемые игры</a></div>
                                <div class="user-profile__menu-item"><a class="menu__link" asp-controller="Profile" asp-action="Settings" asp-route-userId="@userIdClaim?.Value">Настройки</a></div>
                                <div class="user-profile__menu-item"><a class="menu__link" asp-controller="Account" asp-action="Logout">Выйти</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
        }
        else
        {
            <a class="header__logout" asp-controller="Account" asp-action="Login">Войти</a>
        }
    </div>
</header>