<div class="primary-content-container">
    <!-- Заголовок будет вставлен сюда -->
    <div id="header-placeholder"></div>

    <div class="news-update-container">
        <div class="news-update-section">
            <div class="news-section-container">
                <div class="news-updates-container">
                    <div class="news-updates-container1">
                        <p class="news-title-text-style">Последние новости и обновления</p>
                        <p class="news-update-text-style">Узнайте первыми о наших новых играх, обновлениях и
                            событиях.</p>
                    </div>
                </div>
            </div>

            <!-- Форма подписки -->
            <div class="email-form-container">
                <div class="email-input-container1">
                    <div class="email-input-container">
                        <input type="email" class="email-prompt-text-style" placeholder="Введите ваш email"
                            required>
                    </div>
                    <button class="email-button">Подписаться</button>
                </div>
            </div>

            <!-- Контент новостей -->
            @* <div class="content-container"> *@
            @*     <div class="flex-container-with-author-info"> *@
            @*         <!-- Основные статьи --> *@
            @*         <div class="article-container"> *@
            @*             <div class="presidential-card"> *@
            @*                 <img src="assets/image_d7b7fd4a.jpeg" class="cover-image-container" alt="Новость 1"> *@
            @*                 <div class="profile-card1"> *@
            @*                     <p class="date-info-text-style">13.06.2024</p> *@
            @*                 </div> *@
            @*                 <p class="golden-text-styler">Lorem Ipsum is simply dummy text</p> *@
            @*                 <p class="gilroy-text-block">Lorem Ipsum is simply dummy text of the printing and *@
            @*                     typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever *@
            @*                     since the 1500s...</p> *@
            @*             </div> *@
            @*             <div class="profile-card2"> *@
            @*                 <img src="assets/image_60dca0f5.jpeg" class="cover-image-container" alt="Новость 2"> *@
            @*                 <div class="profile-card1"> *@
            @*                     <p class="date-info-text-style1">12.06.2024</p> *@
            @*                 </div> *@
            @*                 <p class="golden-text-heading">Lorem Ipsum is simply dummy text</p> *@
            @*                 <p class="elegant-text-block">Lorem Ipsum is simply dummy text of the printing and *@
            @*                     typesetting industry...</p> *@
            @*             </div> *@
            @*         </div> *@

            @*         <!-- Краткие обновления --> *@
            @*         <div class="article-card1"> *@
            @*             <div *@
            @*                 class="author-update-snippet-container article-card author-update-snippet-container:first-child"> *@
            @*                 <img class="author-card" src="assets/image_eb6038eb.png" alt="Автор"> *@
            @*                 <div class="article-snippet-container"> *@
            @*                     <div class="author-info-container"> *@
            @*                         <div class="author-info-container1"> *@
            @*                             <p class="author-name-container">Владимир В.</p> *@
            @*                         </div> *@
            @*                         <p class="article-date-text-style">22.05.2024</p> *@
            @*                     </div> *@
            @*                     <p class="article-snippet-text-style">Lorem Ipsum is simply dummy text?</p> *@
            @*                 </div> *@
            @*             </div> *@
            @*             <div class="author-update-snippet-container article-card"> *@
            @*                 <img class="author-card" src="assets/image_4cb8d63.png" alt="Автор"> *@
            @*                 <div class="article-snippet-container"> *@
            @*                     <div class="author-info-container"> *@
            @*                         <div class="author-info-container1"> *@
            @*                             <p class="author-name-container">Владимир В.</p> *@
            @*                         </div> *@
            @*                         <p class="article-date-text-style">18.05.2024</p> *@
            @*                     </div> *@
            @*                     <p class="article-snippet-text-style">Lorem Ipsum is simply dummy text?</p> *@
            @*                 </div> *@
            @*             </div> *@
            @*             <!-- Добавь остальные по необходимости --> *@
            @*         </div> *@
            @*     </div> *@
            @* </div> *@


        </div>
    </div>

    <!-- Подвал будет вставлен сюда -->
    <div id="footer-placeholder"></div>
</div>