@{
    ViewData["Title"] = "Profile";
}

@model ProfileViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>LingvoGameOs</title>
</head>

<body>
    <div class="wrapper">
        <div id="header-placeholder"></div>

        <main class="content">
            <div class="content__container _container">
                <div class="content__row">
                    <aside class="content__sidebar">
                        <!-- Профиль пользователя -->
                        <div class="profile">
                            <h3 class="profile__title">Профиль пользователя</h3>
                            <div class="profile__avatar">
                                <div class="profile__avatar-wrapper">
                                    <img src="img/avatar100.png" alt="Аватар пользователя" class="profile__image">
                                    <label class="profile__upload-avatar">
                                        <input type="file" accept="image/*" class="profile__upload-input" hidden>
                                        Изменить
                                    </label>
                                </div>
                            </div>
                            <form class="profile__form">
                                <div class="profile__field">
                                    <label class="profile__label" for="firstName">Имя</label>
                                    <input type="text" class="profile__input" id="firstName" value="Маша" required>
                                </div>
                                <div class="profile__field">
                                    <label class="profile__label" for="lastName">Фамилия</label>
                                    <input type="text" class="profile__input" id="lastName" value="Иванова" required>
                                </div>
                                <div class="profile__field">
                                    <label class="profile__label" for="email">Email*</label>
                                    <input type="email" class="profile__input" id="email" value="masha@example.com"
                                           required>
                                </div>
                                <div class="profile__field">
                                    <label class="profile__label" for="password">Пароль</label>
                                    <input type="password" class="profile__input" id="password" value="********"
                                           required>
                                </div>
                                <div class="profile__field">
                                    <label class="profile__label" for="level">Уровень</label>
                                    <input type="text" class="profile__input" id="level" value="1" disabled>
                                </div>
                                <div class="profile__field">
                                    <label class="profile__label" for="role">Роль</label>
                                    <select class="profile__input" id="role" required>
                                        <option value="player" selected>Игрок</option>
                                        <option value="teacher">Учитель</option>
                                        <option value="developer">Разработчик</option>
                                    </select>
                                </div>
                                <div class="profile__field">
                                    <label class="profile__label" for="bio">О себе</label>
                                    <textarea class="profile__input profile__textarea" id="bio"
                                              placeholder="Расскажите о себе"></textarea>
                                </div>

                                <button type="submit" class="profile__button">Сохранить изменения</button>
                            </form>
                        </div>
                    </aside>
                    <section class="content__main">
                    </section>
                </div>
            </div>
        </main>

        <div id="footer-placeholder"></div>
    </div>
    <script type="module" src="js/script.js"></script>
</body>

</html>