@model string

<div class="wrapper">
	<div id="header-placeholder"></div>

	<main class="content">
		<div class="content__container _container">
			<iframe src="@Model">Ваш браузер устарел для отображения 'iframe'</iframe>
		</div>
	</main>

	<div id="footer-placeholder"></div>
</div>